.partidas-copa2002{
    text-align: center;
}

.partidas-copa2002 .titulo{
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 20px;
}

.conteudo-principal-partida{
    font-size: 1.3em;
    font-weight: 700;
}

.conteudo-secundario-partida{
    margin-top: -20px;
}

@media screen and (min-width: 992px) {
    .partidas-copa2002 .titulo{
        font-size: 2em;
    }
}